body {
    margin: 50px 0 0 0;
    padding: 0;
    /*width: 100%;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: black;
    /*color: #aaa;*/
    font-size: 18px;
    /*images/blue_cats.jpg*/
    
    background: url(../images/blue_cats.jpg);
    /*background-image: ../public/images/blue_cats.jpg;*/
    /*background: url(../public/images/blue_cats.jpg) no-repeat center center fixed; */
    /*background-size: cover;*/
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}

.offline {
    color: red;
}

.container_main {
    opacity: 1;
    /*border: 5px solid red;*/
    width: 100%;
    /*background: white;*/
    background: rgba(255, 255, 255, 0.8);
    margin: 10px;
}
